.container{
    margin:0 auto;
    width: 1440px;
    border: 3px solid pink;
}
.footer{
    width:1440px;
    height: 100px;
    background: #F2F8FB;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.footer-links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.link-footer{
    color: #06A9B3;
    font-family: sans-serif;
}
.footer-title{
    font-family: sans-serif; 
    color: lightgrey;
}
.span3{
    color: #06A9B3;
}
.img1{
    margin-left: 30px;
}
.footer-title{
    margin-right: 30px;
}
.img2{
    margin-right: -70px;
}
.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bot-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:250px;
}
.t03{
    color: #06A9B3;
    font-family: sans-serif;
}
.line{
    background:#06A9B3 ;
    height:2px;
    width: 80px;
}
.call{
    font-family: sans-serif;
    margin-top: 35px;
}
.grid-1{
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 70px 70px 70px;
    column-gap: 25px;
    row-gap: 40px;
    margin-top: 35px;
}
.block-email{
    grid-column: 1/4;
    grid-row: 2/3;
}
.block-number{
    grid-column: 1/4;
    grid-row: 3/4;
}
.contact-name{
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 10px;
}
.under-block{
    width: 130px;
    height: 45px;
    border: 2px solid lightgrey;
    opacity: 0.3;
}
.ms{
    font-family: sans-serif; 
    margin-left: 15px;
    font-size: 17px;
    margin-top: 15px;
}
.under-block2{
    width: 440px;
    height: 45px;
    border: 2px solid lightgrey;
    opacity: 0.3;
}
.button-send{
    width: 155px;
    height: 45px;
    background: #06A9B3;
    border: none;
    color: white;
    font-family: sans-serif; 
    font-size: 17px;
    margin-top: 30px;
}
.bot-2{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.subs{
    font-family: sans-serif;
    font-size: 13px; 
    margin-left: 15px;
}
.outline-grey{
    width: 17px;
    height: 17px;
    border: 2px solid lightgrey;
    margin-top: 13px;
}
.ques{
    display: flex;
}
.ques1{
    display: flex;
    margin-left: -30px;
}
.done{
    width: 11px;
    height: 11px;
    background:#06A9B3;
    margin-top: 3px; 
    margin-left: 3px;
}
.domiki{
    padding-top: 100px;
    padding-bottom: 140px;
    background:#F2F8FB;;
}
.bot-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:180px;
    margin:0 auto;
}
.dom-orenda{
    text-align: center;
    font-family: sans-serif; 
}
.grid-2{
    display: grid;
    grid-template-columns: 327px 327px 327px 327px;
    grid-template-rows: 415px;
    column-gap: 24px;
    padding-left: 30px;
    margin-top: 40px;
}
.horisontal{
    margin:0 auto;
    width: 910px;
    height:200px ;
    background: white;
    margin-top: 24px;
    display: flex;
    border: 1px solid lightgrey;
}
.doms{
    background: white;
    width: 327px;
    height: 415px;
    border: 1px solid lightgrey;
}
.dom-name{
    margin-left: 25px;
    font-family: sans-serif;
}
.plosch{
    margin-left: 25px;
    margin-top: -10px;
    color: lightgrey;
    font-family: sans-serif;
}
.line-2{
    width: 280px;
    height: 2px;
    background: lightgrey;
    margin-left: 25px;
}
.line-2-2{
    width: 537px;
    height: 2px;
    background: lightgrey;
    margin-left: 25px;
}
.flex{
    margin-left: 25px;
    margin-bottom: 25px;
    display: flex;
    width: 280px;
    margin-right: 25px;
    justify-content: space-between;
}
.number-1{
    font-family: sans-serif;
}
.rooms{
    font-family: sans-serif; 
    margin-top: -20px;
}
.flex2{
    margin-left: 25px;
    margin-bottom: 25px;
    display: flex;
    width: 537px;
    margin-right: 25px;
    justify-content: space-between;
}
.t02{
    font-family: sans-serif;
    color: #EAF2F6;
    font-size: 64px;
}
.rotate{
    transform: rotate(-90deg);
    width: 140px;
}
.t01{
    color: #EAF2F6;
    font-size: 64px;
    margin-bottom: 110px;
    font-family: sans-serif;
    margin-left: 40px;
}
.flex-2{
    display: flex;
    justify-content: space-around;
}
.img-f{
    margin-left: 150px;
}
.bot-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:160px;
}
.park{
    font-family: sans-serif;
}
.text-1{
    font-family: sans-serif;
    line-height:2;
    opacity: 0.6;
}
.text-2{
    font-family: sans-serif;
    line-height:2;
    margin-top: -5px;
    opacity: 0.6;
}
.jc-3{
    display: flex;
    width: 800px;
    justify-content: space-between;
}
.text-3{
    font-family: sans-serif;
    line-height:2;
    margin-top: 25px;
    opacity: 0.6;  
    margin-left: 100px;
}
.flex-3{
    display: flex;
    justify-content: center;
}
.text-span{
    display: flex;
    width: 650px;
    justify-content: space-between;
}
.text-4{
    font-family: sans-serif;
    line-height:2;
    margin-top: 25px;
    opacity: 0.6;  
}
.line-3{
    width: 3px;
    height:170px ;
    background:#06A9B3;
    margin-top: 35px;
}
.mesto{
    padding-bottom: 100px;
    padding-top: 100px;
}
.text-span2{
    display: flex;
    width: 850px;
    justify-content: space-between;
    margin-left: -340px;
    margin-top: -20px;
}
.free{
    background:#06A9B3;
    font-family: sans-serif;
    width: 290px;
    height: 55px;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 100px;
}
.text-5{
    font-family: sans-serif;
    line-height:2;
    margin-top: 25px;
    opacity: 0.6;  
    margin-left: 100px;
    font-size: 14px;
}
.header{
    background: #F2F8FB;
}